.standard-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    gap: 8px;
    height: 50px;
    padding: 0 22px;
    font-size: 0.85rem;
    font-family: var(--alt-font);
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--theme-color-one);
    color: #ffffff;
    border: none;
    line-height: normal;
    transition: background-color 0.3s ease-in-out;
    transform-origin: center;
    margin-top: 40px !important;
    cursor: pointer;
    overflow: hidden;
}

.standard-btn a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.standard-btn:hover {
    background-color: var(--theme-color-one);
}

.standard-btn span {
    position: relative;
    display: inline-block;
    line-height: normal;
    pointer-events: none;
}

.standard-btn .text-label {
    overflow: hidden;
}

.standard-btn .text-label span {
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 0.95);
}

.standard-btn .text-label span::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 100%;
}

.standard-btn:hover .text-label span {
    transform: translateY(-100%);
}

.standard-btn .icon {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    color: var(--theme-color-one);
    overflow: hidden;
    display: none;
}

.standard-btn .icon::after,
.standard-btn .icon::before {
    position: absolute;
    font-family: "Font Awesome 6 Sharp";
    content: "\f105";
    font-size: 1.1em;
    font-weight: 200;
    display: inline-block;
    top: 50%;
    left: 50%;
    will-change: transform;
    transform-origin: center;
    line-height: 0;
}

.standard-btn .icon::after {
    transform: translate(-50%, -50%);
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 0.95);
    opacity: 1;
}

.standard-btn .icon::before {
    transform: translate(-1em, -50%);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 0.95);
}

.standard-btn:hover .icon::after {
    transform: translate(100%, -50%);
    opacity: 0;
}

.standard-btn:hover .icon::before {
    opacity: 1;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
    .standard-btn {
        height: 48px;
        padding: 12px 20px;
        font-size: 0.75rem;
    }
}





.read-more-btn {
    position: relative;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 40px;
    color: #414141;
    cursor: pointer !important;
    transition: color .4s ease;
}

.read-more-btn:hover {
    color: var(--theme-color-one);
}

.read-more-btn span {
    position: relative;
    display: inline-block;
    line-height: normal;
}

.read-more-btn .text-label {
    overflow: hidden;
}

.read-more-btn .text-label span {
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 0.95);
}

.read-more-btn .text-label span::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 100%;
}

.read-more-btn:hover .text-label span {
    transform: translateY(-100%);
}

.read-more-btn .icon {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--theme-color-one);
    color: white;
    overflow: hidden;
    display: none;
}

.read-more-btn:hover .icon {
    background-color: var(--theme-color-one);
}

.read-more-btn .icon::after,
.read-more-btn .icon::before {
    position: absolute;
    font-family: "Font Awesome 6 Sharp";
    content: "\f105";
    font-size: 1.1em;
    font-weight: 200;
    display: inline-block;
    top: 50%;
    left: 50%;
    will-change: transform;
    transform-origin: center;
    line-height: 0;
}

.read-more-btn .icon::after {
    transform: translate(-50%, -50%);
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 0.95);
    opacity: 1;
}

.read-more-btn .icon::before {
    transform: translate(-1em, -50%);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 0.95);
}

.read-more-btn:hover .icon::after {
    transform: translate(100%, -50%);
    opacity: 0;
}

.read-more-btn:hover .icon::before {
    opacity: 1;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 575px) {
    .read-more-btn {
        font-size: 0.8rem;
    }
}