.standard-btn {
    font-size: clamp(0.7rem, 0.7vw, 0.82rem);
    --bg-color: var(--color-primary);
    --hover-bg-color: var(--color-secondary);
    --border-color: var(--color-primary);
    --hover-border-color: var(--color-primary);
    --color: white;
    --hover-color: var(--color-primary);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    gap: 0.9em;
    height: 4.2em;
    padding: 0 2.2em 0 2.7em;
    letter-spacing: 0.05em;
    font-family: var(--primary-font);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--bg-color);
    color: var(--color);
    border: none;
    border-radius: 999px;
    line-height: 1;
    transition:
        background-color 0.3s ease-in-out,
        border-color 0.3s ease;
    transform-origin: center;
    cursor: pointer;
    overflow: hidden;

    .ripple {
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transform: translateZ(0) scale(0);
        animation: ripple-effect var(--animation-duration) ease-in-out;
        pointer-events: none;
    }

    @keyframes ripple-effect {
        to {
            transform: translateZ(0) scale(1);
            opacity: 0;
        }
    }

    a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    span {
        position: relative;
        display: inline-block;
        line-height: normal;
        pointer-events: none;
        transform: translateZ(0);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: auto;
        right: -0.8em;
        height: 100%;
        width: 0;
        background-color: var(--hover-bg-color);
        transform: skewX(-25deg) translateZ(0);
        transform-origin: right;
        transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
        backface-visibility: hidden;
    }

    .text-label {
        overflow: hidden;

        span {
            position: relative;
            display: inline-block;
            line-height: normal;
            pointer-events: none;
            transform: translateY(0) translateZ(0);
            transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 0.95);

            &::after {
                content: attr(data-text);
                position: absolute;
                left: 0;
                top: 100%;
            }
        }
    }

    .icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color);

        i {
            font-size: 1.25em;
            line-height: 1;
            transition: color 0.4s ease;
        }
    }

    &.style-1 {
        --bg-color: white;
        --color: black;
        --hover-bg-color: var(--color-secondary);
        --hover-color: rgb(10, 10, 10);
    }

    &.style-2 {
        --bg-color: var(--color-secondary);
        --color: var(--color-primary);
        --hover-bg-color: var(--color-primary);
        --hover-color: rgb(255, 255, 255);
    }

    &.style-3 {
        --bg-color: var(--color-red);
        --hover-bg-color: var(--color-primary);
        --hover-color: rgb(255, 255, 255);
    }
    &.style-4 {
        --bg-color: var(--color-red);
        --hover-bg-color: var(--color-secondary);
        --hover-color: rgb(10, 10, 10);
    }

    &:active {
        transform: translateZ(0) scale(0.98);
    }

    &:hover {
        border-color: var(--hover-border-color);

        &::before {
            right: auto;
            left: -0.8em;
            width: calc(100% + 1.6em);
        }

        .icon {
            color: var(--hover-color);
        }

        .text-label {
            span {
                transform: translateY(-100%) translateZ(0);

                &::after {
                    color: var(--hover-color);
                }
            }
        }
    }
}

.read-more-btn {
    position: relative;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 40px;
    color: #414141;
    cursor: pointer !important;
    transition: color 0.4s ease;
}

.read-more-btn:hover {
    color: var(--theme-color-one);
}

.read-more-btn span {
    position: relative;
    display: inline-block;
    line-height: normal;
}

.read-more-btn .text-label {
    overflow: hidden;
}

.read-more-btn .text-label span {
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 0.95);
}

.read-more-btn .text-label span::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 100%;
}

.read-more-btn:hover .text-label span {
    transform: translateY(-100%);
}

.read-more-btn .icon {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--theme-color-one);
    color: white;
    overflow: hidden;
    display: none;
}

.read-more-btn:hover .icon {
    background-color: var(--theme-color-one);
}

.read-more-btn .icon::after,
.read-more-btn .icon::before {
    position: absolute;
    font-family: "Font Awesome 6 Sharp";
    content: "\f105";
    font-size: 1.1em;
    font-weight: 200;
    display: inline-block;
    top: 50%;
    left: 50%;
    will-change: transform;
    transform-origin: center;
    line-height: 0;
}

.read-more-btn .icon::after {
    transform: translate(-50%, -50%);
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 0.95);
    opacity: 1;
}

.read-more-btn .icon::before {
    transform: translate(-1em, -50%);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 0.95);
}

.read-more-btn:hover .icon::after {
    transform: translate(100%, -50%);
    opacity: 0;
}

.read-more-btn:hover .icon::before {
    opacity: 1;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 575px) {
    .read-more-btn {
        font-size: 0.8rem;
    }
}
