@media screen and (min-width: 767px) {
  .why_choose_boxs>div:nth-last-of-type(2) .why_choose_box {
    transform: translateX(-12px);
  }
}

.why_choose_boxs>div:nth-last-of-type(2) .why_choose_box::after {
  opacity: 60%;
}

.why_choose_box .round-circle2 {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
  opacity: 0;
}

.why_choose_box:hover .round-circle2,
.why_choose_boxs>div:nth-last-of-type(2) .why_choose_box .round-circle2 {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.why_choose_box:hover .round-circle2,
.why_choose_boxs>div:nth-last-of-type(2) .why_choose_box .round-circle2 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 0);
}

.why_choose_box:hover .round-circle2:before,
.why_choose_boxs>div:nth-last-of-type(2) .why_choose_box .round-circle2:before {
  opacity: 1;
}

.why_choose_box .round-circle2:before {
  position: absolute;
  content: '';
  background: #D4A850;
  width: 8px;
  height: 8px;
  left: 10px;
  bottom: 9px;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}

.round-circle2 {
  position: absolute;
  width: 96px;
  height: 96px;
  left: -10px;
  top: -10px;
  border: 2px solid #D4A850;
  border-radius: 50%;
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%, 0 0);
  transition: all 500ms ease;
  animation: service_hexagon 2s infinite linear;
  animation-play-state: paused;
  opacity: 0;
}

@keyframes service_hexagon {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}