@font-face {
    font-family: 'Cream';
    src: url('./cream-DEMO.woff2') format('woff2'),
        url('./cream-DEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}