.main_header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    z-index: 999;
    // background-color: var(--color-primary);
    background-color: #f5ecf98c;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #eeeeee;
    transform: translateY(-100%) translateZ(0);
    transition:
        transform 0.8s cubic-bezier(0.16, 1, 0.3, 1),
        box-shadow 0.4s ease,
        background-color 0.2s ease;

    &[data-header-revealed="true"]{
            transform: translateY(0) translateZ(0);
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &:not([data-sticky-state="inactive"]) {
        border-bottom: none !important;
        &::before {
            opacity: 1;
        }
    }

    .header_container {
        display: flex;

        .header_inner {
            padding: 0;
            margin: 0;
            width: 100%;
            flex-wrap: nowrap;
        }

        .header_logo_wrapper {
            position: relative;
            padding: 12px 12px;
            padding-left: 0 !important;
        }
    }

    .header_logo {
        position: relative;
        width: 200px;
        height: 90px;
        display: flex;
        align-items: center;
        background-color: transparent;
        overflow: hidden;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left center;
            transform: translateY(0) translateZ(0);
            display: block;
        }
    }

    .header_main_menu {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;
        padding: 0;
        padding-right: 20px !important;

        .header_menu_inner {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            nav {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.transparent {
        // background-color: rgba(0, 0, 0, 0);
        border-bottom: none !important;

        // &:not(.sticky_header) {
        //     .header_logo {
        //         img {
        //             filter: grayscale(1) invert(1) brightness(100);
        //         }
        //     }
        // }

        &.sticky_header {
            background-color: white;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

            .menu_btn_wrapper {
                .header_menu_btn {
                    color: #2c2c2c;
                }
            }
        }
    }

    .menu_btn_wrapper {
        padding-left: 0;
        display: none;
        justify-content: flex-end;

        .header_menu_btn {
            position: relative;
            transform: translateX(10px);
            padding: 0;
            color: #ffffff;
            background-color: #ffffff1e;
            z-index: 9999;
            transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 0.95), background-color 0.4s ease;
        }
    }

    &[data-menu-state="opened"] {
        .menu_btn_wrapper {
            .header_menu_btn {
                background-color: #F0E5F0;
                color: #642165 !important;
            }
        }
    }

    .header_top_wrapper {
        display: none;
        width: 100%;
        height: 60px;
        padding: 0 25px;
        justify-content: flex-start;
        align-items: center;
        background-color: transparent;
    }

    .menu_btn_close {
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        gap: 8px;

        small {
            font-size: 0.6em;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 0;
            color: #585858;
        }

        i {
            display: inline-block;
            color: #2c2c2c;
            transition: transform 0.4s ease;
        }

        &:hover {
            i {
                transform: rotate(90deg) translateZ(0);
            }
        }
    }

    .header_overlay {
        position: fixed;
        width: 100%;
        height: 100dvh;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.404);
        opacity: 0;
        visibility: hidden;
        user-select: none;
        will-change: opacity;
        z-index: 999;

        &.overlay_active {
            pointer-events: all;
        }
    }
}

.header_menu_list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    gap: 30px;

    li {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.8rem;
        letter-spacing: 0.05em;
        font-weight: 700;
        text-transform: uppercase;
        font-family: var(--primary-font);
        z-index: 1;

        a {
            position: relative;
            display: flex;
            align-items: center;
            color: #505050;
            padding: 6px 0;
            line-height: 1.4;
            transition: color 0.2s ease-in-out;
            white-space: nowrap;

            &.active {
                color: var(--color-primary);

                &::before {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }

            &:hover {
                &::before {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }

            &::before {
                content: "";
                width: 0;
                height: 1px;
                bottom: 0;
                position: absolute;
                left: auto;
                right: 0;
                transition: width 0.8s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                background: rgb(255, 255, 255);
            }
        }

        &.has_children {
            > a {
                padding-right: 1.2em;

                &::after {
                    content: "\f107";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    font-size: 1em;
                    font-family: "Font Awesome 6 Pro";
                    font-weight: 500;
                    line-height: 0;
                    transform-origin: center;
                    transform: translateY(-50%) translateZ(0) rotate(0deg);
                    transition: transform 0.3s ease;
                }
            }

            &.open {
                > a {
                    color: var(--color-primary);
                    // &::after {
                    //     content: "\f068";
                    // }
                }

                .header_sub_menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0) translateZ(0);
                    pointer-events: all !important;
                    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 0.95);
                }
            }
        }
    }

    .header_sub_menu {
        position: absolute;
        min-width: 230px;
        height: auto;
        width: auto;
        max-width: fit-content;
        top: 100%;
        left: 0;
        background-color: white;
        transform: translateY(16px) translateZ(0);
        transition: all 0.6s cubic-bezier(0.26, 0.27, 0.14, 0.97);
        opacity: 0;
        border-top: 2px solid var(--color-primary);
        visibility: hidden;
        pointer-events: none !important;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        z-index: 10;

        li {
            position: relative;
            margin: 0;
            padding: 0;
            border: none;

            a {
                width: 100%;
                padding: 12px 20px;
                padding-right: 40px !important;
                display: block;
                transition: all 0.5s ease;
                color: #2c2c2c;
                border-bottom: 1px solid #dbdbdb;
                &::before {
                    display: none;
                }
            }

            &:hover > a,
            &.hovered > a {
                color: var(--color-primary) !important;
            }

            &.has_children > a {
                &::after {
                    position: absolute;
                    right: 20px !important;
                }
            }

            &:last-child > a {
                border-bottom: 0;
            }
        }

        .header_sub_menu {
            right: 100%;
            left: auto;
            top: 0;
            transform: translateY(0) translateX(-20px) translateZ(0);

            li {
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .main_header {
        &:not(.sticky_header) {
            .header_menu_list {
                li {
                    > a {
                        color: #111111;
                    }
                    a {
                        &.active {
                            color: var(--color-primary);
                        }
                        &::before {
                            background-color: var(--color-primary);
                        }
                    }

                    &.has_children {
                        &.open {
                            > a {
                                color: var(--color-secondary);
                            }
                        }
                    }
                }

                .header_sub_menu {
                    border-color: var(--color-secondary);
                    li {
                        a {
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
        &.transparent {
            &.sticky_header {
                .header_menu_list {
                    li {
                        > a {
                            color: #2c2c2c;
                        }
                        a {
                            &.active {
                                color: var(--color-primary);
                            }
                            &::before {
                                background-color: var(--color-secondary);
                            }
                        }

                        &.has_children {
                            &.open {
                                > a {
                                    color: var(--color-primary);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Rsponsive styles  */

@media screen and (max-width: 991px) {
    .main_header {
        .header_container {
            padding: 0 6px;

            .header_logo_wrapper{
                padding-left: 8px !important;
            }
        }

        .header_logo {
            height: 60px;
        }

        .menu_btn_wrapper {
            display: flex;

            .header_menu_btn {
                transform: translateX(5px) scale(0.85);
            }

            &[data-state="opened"] {
                .header_menu_btn{
                    transform: translateX(5px) translateY(-10px) scale(0.85);
                }
            }
        }

        .header_top_wrapper {
            display: none;
        }

        .menu_btn_close {
            display: flex;
        }

        .header_main_menu {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: 0;
            width: 90%;
            max-width: 410px;
            height: 100dvh;
            padding: 0;
            margin: 0;
            background-color: #ffffff;
            transform: translateX(100%);
            z-index: 9999;
            overflow: hidden;

            .header_menu_inner {
                display: flex;
                flex-direction: column;
                padding: 12px 25px;
                padding-top: 60px !important;
                overflow-x: hidden;
                overflow-y: auto;
            }
        }
    }

    .header_menu_list {
        flex-direction: column;
        justify-content: start;
        padding: 0;
        margin: 0;
        gap: 0;

        li {
            display: block;
            font-size: 0.9rem;
            font-weight: 600;
            padding: 0;
            margin: 0;
            border: none;
            text-transform: uppercase;
            border-bottom: 1px solid #e4e4e4;

            &.has_children {
                > a {
                    padding-right: 1.2em !important;

                    &::after {
                        font-size: 0.9em;
                        top: 50%;
                        transform: translateY(-50%) translateZ(0) rotate(0deg);
                    }
                }

                &:hover {
                    a::after {
                        transform: translateY(-50%) translateZ(0) rotate(0deg);
                    }
                }
                &.open {
                    a::after {
                        transform: translateY(-50%) translateZ(0) rotate(0deg);
                    }
                }
            }

            a {
                width: 100%;
                height: auto;
                padding: 12px 0 !important;
                border: none !important;
                line-height: 1;

                &::before {
                    display: none;
                }
            }
        }

        .header_sub_menu {
            position: relative;
            width: 100%;
            height: auto;
            top: auto !important;
            left: auto !important;
            right: auto !important;
            background-color: transparent;
            min-width: auto;
            max-width: none;
            padding: 0;
            padding-left: 15px;
            border-radius: 8px;
            border: none;
            visibility: visible !important;
            opacity: 1 !important;
            transform: none !important;
            box-shadow: none !important;

            li {
                &.has_children:last-child {
                    margin-bottom: 10px;
                }
            }

            ul {
                position: relative;
                display: block;
                max-width: 100%;
                width: 100%;
                border: none;
                overflow: hidden;
                height: 0;
            }

            .header_sub_menu {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .main_header {
        .header_container {
            padding: 0;
        }
    }
}

@media screen and (max-width: 320px) {
    .main_header {
        .header_logo_wrapper {
            padding: 0;
        }
    }
}

/* Multi Level Menu Style  */
@media screen and (min-width: 992px) {
    .multi_level_style01 {
        --multi-submenu-width: 600px;
        --multi-submenu-max-width: 200px;
        width: var(--multi-submenu-width);
        max-width: none;
        height: 300px;
        overflow: hidden;
    }

    .multi_level_style01 li {
        position: static !important;
    }

    .multi_level_style01 > ul {
        position: relative;
        display: flex;
        flex-direction: column;
        width: var(--multi-submenu-max-width);
        height: 100%;
        padding: 0;
        border-right: 1px solid #f0f0f0;
        background-color: white;
    }

    .multi_level_style01 .header_sub_menu {
        top: 0;
        height: 100%;
        width: calc(var(--multi-submenu-width) - var(--multi-submenu-max-width));
        max-width: none;
        left: calc(100% + 1px);
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        opacity: 0;
        visibility: hidden;
        transform: translate3d(30px, 0, 0) !important;
        transition:
            transform 0.8s cubic-bezier(0.33, 1, 0.68, 1),
            opacity 0.5s ease;
    }

    .multi_level_style01 ul li:first-child > .header_sub_menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0) translateX(0) translateZ(0) !important;
    }

    .multi_level_style01 ul:has(li:hover:not(:first-child)) li:first-child > .header_sub_menu {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(30px, 0, 0) !important;
    }

    .multi_level_style01 ul li.hovered > .header_sub_menu,
    .multi_level_style01 ul li:hover > .header_sub_menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0) translateX(0) translateZ(0) !important;
    }

    .multi_level_style01 ul li:hover .header_sub_menu {
        pointer-events: all !important;
    }
}
