.main_header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 1.2vw;
    z-index: 999;
    // background-color: rgba(245, 236, 249, 0.55);
    transition:
        transform 0.8s cubic-bezier(0.83, 0, 0.17, 1),
        box-shadow 0.4s ease,
        background-color 0.2s ease;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(245, 236, 249, 0.55);
        backdrop-filter: blur(20px);
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
    }

    &[data-hidden="true"] {
        transform: translateY(-100%) translateZ(0);
    }

    // &[data-sticky="true"] {
    //     .logo_wrapper {
    //         width: clamp(7.4rem, 12vw, 14.4rem);
    //     }
    // }

    .logo_wrapper {
        position: relative;
        width: clamp(11rem, 13vw, 15.6rem);
        padding: clamp(0.7rem, 0.8vw, 0.96rem) 12px;
        padding-right: clamp(0.8rem, 1.3vw, 1.56rem) !important;
        z-index: 9999;
        transition: width 0.5s cubic-bezier(0.65, 0, 0.35, 1);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .inner {
        position: relative;
        flex-wrap: nowrap !important;
        justify-content: space-between;

        .right_side {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: clamp(0.929rem, 1.5vw, 1.8rem);

            .menu_nav {
                justify-content: flex-start;
            }
        }

        .cta_btn {
            white-space: nowrap;
        }
    }

    &.sticky_header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    }

    &.transparent {
        // background-color: transparent;

        // &:not(.sticky_header) {
        //     .header_logo {
        //         img {
        //             filter: grayscale(1) invert(1) brightness(100);
        //         }
        //     }
        // }

        &.sticky_header {
            // animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

            &::before {
                opacity: 1;
            }

            .menu_btn_wrapper {
                .menu_btn {
                    color: #000000;
                }
            }
        }
    }

    .menu_nav {
        position: relative;
        height: 100%;

        .menu_list {
            width: 100%;
            height: 100%;
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: clamp(0.929rem, 1.5vw, 1.8rem);
        }

        li {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: clamp(0.7rem, 0.9vw, 1rem);

            &:first-child {
                span {
                    padding-left: 0;
                }
            }
            &:last-child {
                span {
                    padding-right: 0;
                }
            }

            span {
                position: relative;
                width: 100%;
                display: inline-block;
                // padding-left: 1.8em;
                // padding-right: 1.8em;
            }

            a {
                position: relative;
                font-size: 1em;
                display: block;
                font-weight: 700;
                text-transform: uppercase;
                color: #2b2b2b;
                text-decoration: none;
                transition: color 0.3s ease;

                &.active {
                    color: var(--color-primary);
                }

                &::before {
                    content: "";
                    width: 0;
                    height: 1px;
                    bottom: 0;
                    position: absolute;
                    left: auto;
                    right: 0;
                    transition: width 0.8s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                    background: #fff;
                }
            }

            &:hover {
                a {
                    &::before {
                        left: 0;
                        right: auto;
                        width: 100%;
                    }
                }
            }

            &.has_children {
                > span {
                    padding-right: 1.1em;

                    &::after {
                        content: "\f107";
                        position: absolute;
                        right: 0;
                        top: 50%;
                        font-size: 0.8em;
                        font-family: "Font Awesome 6 Pro";
                        font-weight: 600;
                        line-height: 0;
                        transform-origin: center;
                        transform: translateY(-50%) translateZ(0) rotate(0deg);
                        transition: transform 0.3s ease;
                    }
                }

                &.open {
                    > span > a {
                        color: var(--color-primary);
                    }

                    > .sub_menu {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0) translateZ(0);
                        pointer-events: all !important;
                        transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 0.95);
                    }
                }
            }

            .sub_menu {
                position: absolute;
                min-width: clamp(7.5rem, 12vw, 14.4rem);
                height: auto;
                width: auto;
                max-width: fit-content;
                top: 100%;
                left: 0;
                transform: translateY(clamp(0.7rem, 0.833vw, 1rem)) translateZ(0);
                opacity: 0;
                visibility: hidden;
                pointer-events: none !important;
                transition: all 0.6s cubic-bezier(0.26, 0.27, 0.14, 0.97);
                z-index: 10;

                .sub_menu_inner {
                    background-color: rgb(255, 255, 255);
                    border-radius: clamp(0.2388rem, 0.3867vw, 0.4rem);
                    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                }

                ul {
                    padding: clamp(0.3225rem, 0.521vw, 0.625rem) 0;
                }

                li {
                    position: relative;
                    margin: 0;
                    padding: 0;
                    border: none;

                    a {
                        width: 100%;
                        padding: 0.6em 1.2em;
                        padding-right: 2em !important;
                        display: block;
                        font-size: 0.9em;
                        text-transform: uppercase;
                        white-space: nowrap;
                        transition: color 0.5s ease;
                        color: #2c2c2c;

                        &::before {
                            display: none;
                        }
                    }

                    &:hover > a,
                    &.hovered > a {
                        color: var(--color-primary) !important;
                    }

                    &.has_children > span {
                        &::after {
                            position: absolute;
                            right: 1.5em !important;
                            transform: translateY(-50%) translateZ(0) rotate(-90deg);
                        }
                    }

                    &:last-child > a {
                        border-bottom: 0;
                    }

                    &.open {
                        > .sub_menu {
                            transform: translateY(0) translateX(0) translateZ(0);
                        }
                    }
                }

                .sub_menu {
                    left: 100%;
                    top: 0;
                    padding-left: 8px;
                    transform: translateY(0) translateX(clamp(1.3rem, 2.1vw, 2.5rem)) translateZ(0);

                    li {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }

    .menu_btn_wrapper {
        padding-left: 0;
        margin-left: auto;
        display: none;
        justify-content: flex-end;
        align-items: center;

        .menu_btn {
            position: relative;
            padding: 0;
            color: #000000;
            z-index: 9999;
            transition:
                transform 0.6s cubic-bezier(0.25, 1, 0.5, 0.95),
                background-color 0.4s ease;
        }
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100dvh;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(20px);
        opacity: 0;
        visibility: hidden;
        user-select: none;
        will-change: opacity;
        z-index: 998;

        &.overlay_active {
            pointer-events: all;
        }
    }

    @media screen and (min-width: 992px) {
        &:not(.sticky_header) {
            .menu_nav {
                .menu_list {
                    li {
                        > a {
                            color: #ffffff;
                        }
                        a {
                            &:hover,
                            &.active {
                                color: var(--color-primary) !important;
                            }
                            &::before {
                                background-color: var(--color-primary);
                            }
                        }

                        &.has_children {
                            &.open {
                                > span > a {
                                    color: var(--color-primary);
                                }
                            }
                        }
                    }

                    .sub_menu {
                        li {
                            a {
                                color: #2c2c2c;
                            }
                        }
                    }
                }
            }
        }
        &.transparent {
            &.sticky_header {
                .menu_nav {
                    .menu_list {
                        li {
                            > a {
                                color: #ffffff;
                            }
                            a {
                                &:hover,
                                &.active {
                                    color: var(--color-primary);
                                }
                                &::before {
                                    background-color: var(--color-primary);
                                }
                            }

                            &.has_children {
                                &.open {
                                    > span > a {
                                        color: var(--color-primary);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 991px) {
        .inner {
            .actions {
                display: none;
            }
        }

        .menu_btn_wrapper {
            display: flex;

            // .header_menu_btn {
            //     transform: translateX(5px) scale(0.85);
            // }

            // &[data-state="opened"] {
            //     .header_menu_btn {
            //         transform: translateX(5px) translateY(-10px) scale(0.85);
            //     }
            // }
        }

        .menu_nav {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100dvh;
            padding: 7rem 0 0 0 !important;
            margin: 0;
            clip-path: inset(0 0 100% 0);
            background: #f2e8f7;
            z-index: 999;
            overflow: hidden;
            
            .menu_list {
                height: auto;
                flex-direction: column;
                justify-content: start;
                padding: 0 20px;
                margin: 0;
                gap: 0;
                overflow-y: auto !important;
                padding-bottom: 20px !important;
            }

            li {
                display: block;
                font-size: 1.2rem;

                &.has_children {
                    > span {
                        padding-right: 1.2em !important;

                        &::after {
                            font-size: 1em;
                            top: 50%;
                            font-weight: 300 !important;
                            transform: translateY(-50%) translateZ(0) rotate(0deg);
                        }
                    }

                    &:hover {
                        a::after {
                            transform: translateY(-50%) translateZ(0) rotate(0deg);
                        }
                    }
                    &.open {
                        a::after {
                            transform: translateY(-50%) translateZ(0) rotate(0deg);
                        }
                    }
                }

                a {
                    width: 100%;
                    max-width: max-content;
                    height: auto;
                    font-weight: 700;
                    padding: 0.4em 0 !important;
                    border: none !important;
                    line-height: 1.4;
                    color: rgba(0, 0, 0, 0.5);

                    &::before {
                        display: none;
                    }

                    &.active {
                        color: var(--color-primary);
                    }
                }

                .sub_menu {
                    position: relative;
                    width: 100%;
                    height: auto;
                    top: auto !important;
                    left: auto !important;
                    right: auto !important;
                    min-width: auto;
                    max-width: none;
                    padding: 0;
                    padding-left: 15px;
                    border: none;
                    visibility: visible !important;
                    opacity: 1 !important;
                    transform: none !important;

                    .sub_menu_inner {
                        background-color: transparent;
                        box-shadow: none !important;
                    }

                    li {
                        &.has_children {
                            &:last-child {
                                margin-bottom: 0.8em;
                            }

                            > span {
                                &::after {
                                    right: 0 !important;
                                    // font-size: 1.8em;
                                    transform: translateY(-50%) translateZ(0) rotate(0deg);
                                }
                            }
                        }

                        a {
                            color: rgba(0, 0, 0, 0.692);
                            font-weight: 700;
                            padding-right: 2em !important;
                            white-space: wrap;
                        }
                    }

                    ul {
                        position: relative;
                        display: block;
                        max-width: 100%;
                        width: 100%;
                        padding: 0 !important;
                        border: none;
                        overflow: hidden;
                        height: 0;
                    }

                    .sub_menu {
                        width: 100%;
                    }
                }
            }
        }
    }
}
