/* Offcanvas */
.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: 0.45s ease-in-out;
}

.body-overlay.apply {
  opacity: 1;
  visibility: visible;
}

.body-overlay:hover {
  cursor: url(/public/images/cross.png), pointer;
}

.menu-bar {
  transform: rotate(-180deg);
  position: relative;
  top: 5px;
}

.menu-bar span {
  display: block;
  height: 2px;
  background: #ffffff;
  margin: 5px;
  transition: all 0.5s ease;
  border-radius: 30px;
}

.header-area.style-two.style-eight.style-eleven .menu-bar span {
  background: #0c6e6d;
}

.menu-bar:hover span:nth-child(1),
.menu-bar:hover span:nth-child(2),
.menu-bar:hover span:nth-child(3) {
  width: 22px;
}

.menu-bar span:nth-child(3) {
  width: 20px;
}

.menu-bar span:nth-child(2) {
  width: 16px;
}

.menu-bar span:nth-child(1) {
  width: 22px;
}

.offcanvas {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  right: -100%;
  width: 380px;
  bottom: 0;
  box-shadow: 0 16px -32px 0 rgba(0, 0, 0, 0.8);
  background-color: #053131;
  z-index: 99;
  padding: 36px;
  scrollbar-width: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.45s ease-in-out;
  overflow-y: scroll;
}

.offcanvas .homemenu {
  margin-bottom: 30px;
}

.offcanvas .main-menu-mobile {
  margin-bottom: 50px;
}

.offcanvas.opened {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767px) {
  .offcanvas {
    width: 300px;
    padding: 30px 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .offcanvas {
    width: 400px;
    padding: 25px;
  }
}

.offcanvas.opened {
  right: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-duration: 0.6s;
}

.offcanvas_title p {
  font-size: 16px;
  color: #a3b7b7;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .offcanvas_title p {
    font-size: 15px;
  }
}

.offcanvas_contact-title h5 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: var(--primary-font);
  margin-bottom: 30px;
  display: inline-block;
}

.offcanvas_contact-info ul li {
  display: flex;
  align-items: center;
}

.offcanvas_contact-info ul li a {
  color: #ffffff;
  font-family: var(--primary-font);
}

.offcanvas_contact-info ul li i {
  color: #0c6e6d;
}

.offcanvas_input-title h4 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: var(--primary-font);
  margin-bottom: 30px;
  display: inline-block;
}

.offcanvas_input {
  margin-bottom: 10px;
  position: relative;
}

.offcanvas_input input {
  background: transparent;
  border: 1px solid #ffffff1a;
  height: 60px;
  width: 100%;
  padding-left: 20px;
  padding-right: 80px;
  color: #ffffff;
}

.offcanvas_input button {
  height: 60px;
  width: 60px;
  background-color: #0c6e6d;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.offcanvas_input input::placeholder {
  color: #ffffff57;
}

.offcanvas_contact-info {
  margin-bottom: 50px;
}

.offcanvas_contact-info ul li {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 15px;
  list-style-type: none;
}

@media (max-width: 767px) {
  .offcanvas_contact-info ul li {
    font-size: 14px;
  }
}

.offcanvas_contact-info ul li:last-child {
  margin-bottom: 0;
}

.offcanvas_contact-info ul li a {
  margin-left: 10px;
  transition: 0.3s;
}

.offcanvas_contact-info ul li a:hover {
  color: #0c6e6d;
}

.offcanvas_logo {
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .offcanvas_logo {
    padding-top: 0;
  }
}

@media (max-width: 767px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .offcanvas_logo {
    padding-top: 0;
  }
}

.offcanvas_close-btn button {
  position: absolute;
  right: 30px;
  top: 30px;
  transition: 1s;
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-duration: 0.3s;
  height: 40px;
  width: 40px;
  line-height: 43px;
  background-color: #0c6e6d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.offcanvas_close-btn button:hover svg {
  transform: rotate(360deg);
}

.offcanvas_close-btn button i {
  font-weight: 300;
  font-size: 20px;
  transition: 0.9s;
}

.offcanvas_social {
  margin-top: 30px;
}

.offcanvas_social .social-icon {
  display: flex;
  align-items: center;
  gap: 3;
}

.offcanvas_social .social-icon a {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  background-color: rgba(251, 251, 253, 0.08);
  color: #ffffff;
  margin-right: 15px;
  transition: 0.3s;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offcanvas_social .social-icon a::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #0c6e6d;
  transition: 0.5s;
  transform: scale(0);
  z-index: -1;
}

@media (max-width: 767px) {
  .offcanvas_social .social-icon a {
    margin-right: 3px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 15px;
  }
}

.offcanvas_social .social-icon a:hover::before {
  transform: scale(1);
}

.offcanvas_social .social-icon a:hover {
  color: #ffffff;
}

/* Header Main Menu */

.header-area {
  background: transparent;
  position: absolute;
  z-index: 50;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .header-area {
    background: #0c6e6d;
  }
}

/* Header Sticky */


.header-creative.is-sticky .header-logo {
  margin: 0;
}

.header-creative.is-sticky .header-logo img {
  filter: brightness(0);
}

.header-creative.is-sticky .header-btn {
  margin: 0;
}

.header-creative.is-sticky .header-btn a {
  color: #0c6e6d;
}

.header-creative.is-sticky .light-btn {
  top: 0;
}

.header-creative.is-sticky .light-btn a {
  background: #0c6e6d;
}

.header-creative.is-sticky nav.main-menu-content > ul > li > a {
  padding: 36px 28px 36px;
}

.header-logo {
  margin: 30px 0 0;
}

nav.main-menu-content > ul > li {
  display: inline-block;
  position: relative;
}

nav.main-menu-content > ul > li > a {
  font-size: 16px;
  font-family: var(--primary-font);
  text-transform: capitalize;
  transition: 0.5s;
  /* padding: 18px 28px 28px; */
  color: #ffffff;
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  nav.main-menu-content ul li a {
    padding: 8px 0;
    color: #ffffff;
  }
}

nav.main-menu-content > ul > li:hover > a {
  color: #0c6e6d;
}

nav.main-menu-content > ul > li > a > span {
  position: absolute;
  top: 25px;
  right: 10px;
  transition: 0.5s;
  font-size: 12px;
}

nav.main-menu-content > ul > li:hover > a > span {
  transform: rotate(-180deg);
  top: 26px;
}

.header-btn {
  margin: 28px 0 0;
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .header-btn {
    margin: 0;
  }
}

.header-btn a {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
  font-family: var(--primary-font);
  position: relative;
}

.header-btn a::before {
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0;
  width: 26px;
  height: 2px;
  background: #557570;
  transition: all 0.5s;
}

.header-btn a:hover::before {
  width: 100%;
}

.header-btn a svg {
  font-size: 18px;
}

/* Submenu Start Here */

.header-main-menu nav ul li .submenu,
.header-main-menu nav ul li .submenu li .submenu {
  position: absolute;
  top: 100%;
  left: -5px;
  width: 260px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top center;
  text-align: start;
  background-color: #ffffff;
  border-top: 3px solid #0c6e6d;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  border-radius: 4px;
  transition: all 0.5s ease-in-out; /* Smooth transition */
}

.header-main-menu nav ul li:hover .submenu,
.header-main-menu nav ul li .submenu li:hover .submenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}

.header-main-menu nav ul li .submenu li .submenu {
  left: 100%;
}

.header-main-menu nav ul li .submenu > li:last-child,
.header-main-menu nav ul li .submenu li .submenu li:last-child {
  margin-bottom: 0;
}

.header-main-menu nav ul li .submenu > li a,
.header-main-menu nav ul li .submenu li:hover .submenu > li a {
  padding: 15px 24px;
  font-family: var(--primary-font);
  font-size: 14px;
  text-transform: uppercase;
  color: #053131;
  position: relative;
  width: 100%;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
  font-weight: 500;
  border-bottom: 1px solid #0c6e6d;
}

.header-main-menu nav ul li .submenu > li a > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  transition: 0.5s;
  font-size: 12px;
}

.header-main-menu nav ul li .submenu > li:hover > a > span {
  transform: translateY(-50%) rotate(-180deg);
}

.header-main-menu nav ul li .submenu > li a::after,
.header-main-menu nav ul li .submenu li:hover .submenu > li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  top: auto;
  height: 0;
  width: 100%;
  background-color: #0c6e6d;
  transition: 0.7s;
  z-index: -1;
}

.header-main-menu nav ul li .submenu > li:hover > a,
.header-main-menu nav ul li .submenu li:hover .submenu > li:hover > a {
  color: #ffffff;
}

.header-main-menu nav ul li .submenu > li:hover > a::after,
.header-main-menu nav ul li .submenu li:hover .submenu > li:hover > a::after {
  height: 100%;
  bottom: auto;
  top: 0;
}

.menu-btn {
  margin-left: 20px;
}

/* HEADER CSS */

.homemenu-btn {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.homemenu-title {
  font-size: 16px;
  margin-bottom: 0;
  color: #000000;
  display: inline-block;
  font-family: var(--primary-font);
}

.homemenu-title:hover {
  color: #0c6e6d;
}

.main-menu-mobile .submenu {
  display: none;
}

.main-menu-mobile ul {
  position: static;
  display: block;
  box-shadow: none;
}

.main-menu-mobile ul li {
  list-style: none;
  position: relative;
  width: 100%;
  padding: 0;
}

.main-menu-mobile ul li:not(:last-child) a {
  border-bottom: 1px solid #ffffff33;
}

.main-menu-mobile ul > li > ul > li > a {
  text-transform: capitalize;
  transition: 0.5s;
}

.main-menu-mobile ul > li > ul > li > a:hover {
  color: #0c6e6d;
}

.main-menu-mobile ul li.has-dropdown > a .dropdown-toggle-btn {
  position: absolute;
  right: 0;
  top: 18%;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  font-size: 14px;
  color: #fff;
  background: #0c6e6d;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff1a;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.main-menu-mobile ul li.has-dropdown > a .dropdown-toggle-btn svg {
  transition: all 0.3s ease-in-out;
}

.main-menu-mobile
  ul
  li.has-dropdown
  > a
  .dropdown-toggle-btn.dropdown-opened
  svg {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.main-menu-mobile ul li.has-dropdown > a .dropdown-toggle-btn:hover {
  background-color: #0c6e6d;
  border-color: #0c6e6d;
  color: #ffffff;
}

.main-menu-mobile ul li.has-dropdown > a.expanded {
  color: #fff;
}

.main-menu-mobile
  ul
  li.has-dropdown
  > a.expanded
  .dropdown-toggle-btn.dropdown-opened {
  background-color: #0c6e6d;
  border-color: #0c6e6d;
  color: #ffffff;
}

.main-menu-mobile
  ul
  li.has-dropdown
  > a.expanded
  .dropdown-toggle-btn.dropdown-opened
  i {
  color: #ffffff;
}

.main-menu-mobile ul li.has-dropdown:hover > a::after {
  color: green;
}

.main-menu-mobile ul li:last-child a span {
  border-bottom: 0;
}

li.has-dropdown a span {
  display: none;
}

li.has-dropdown a button span {
  display: block;
}

.main-menu-mobile ul li > a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  padding: 10px 0;
  padding-right: 20px;
  font-family: var(--primary-font);
}

.main-menu-mobile ul li > a svg {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

.main-menu-mobile ul li > a > svg {
  display: inline-block;
  width: 11%;
  margin-right: 13px;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
  font-size: 21px;
  line-height: 1;
}

.main-menu-mobile ul li > a .menu-text {
  font-size: 16px;
  line-height: 11px;
  border-bottom: 1px solid #eaebed;
  width: 82%;
  display: inline-block;
  padding: 19px 0 17px;
}

.main-menu-mobile ul li img {
  width: 100%;
}

.main-menu-mobile ul li ul {
  padding: 0;
}

.main-menu-mobile ul li ul li {
  padding: 0;
}

.main-menu-mobile ul li ul li a {
  margin-left: auto;
  width: 93%;
  padding: 10px 5%;
  text-shadow: none !important;
  visibility: visible;
  padding-left: 0;
  padding-right: 20px;
}

.main-menu-mobile ul li ul li li a {
  width: 88%;
  padding: 10px 7%;
  padding-left: 0;
  padding-right: 20px;
}

.main-menu-mobile ul li ul li li li a {
  width: 83%;
  padding: 10px 9%;
  padding-left: 0;
  padding-right: 20px;
}

.main-menu-mobile ul li ul li li li li a {
  width: 68%;
  padding: 10px 11%;
  padding-left: 0;
  padding-right: 20px;
}

.submenu.has-homemenu.mega-menu {
  width: 750px;
  padding: 20px;
}

.homemenu-thumb {
  text-align: center;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0 0 10px rgba(156, 156, 156, 0.25));
  border-radius: 5px;
}

.homemenu-thumb img {
  width: 100%;
}

.homemenu-thumb a > h6 {
  background: #0c6e6d;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 0px;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  width: 142px;
  opacity: 0;
  top: -30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.5s;
  text-align: center;
  filter: drop-shadow(0 0 10px rgba(156, 156, 156, 0.25));
}

@media only screen and (max-width: 1399px) {
  .header-logo {
    margin: 15px 0;
  }
}

@media only screen and (max-width: 991px) {
  .header-btn {
    margin: 0;
  }

  .submenu.has-homemenu.mega-menu {
    width: 100%;
  }

  .homemenu-thumb a > h6 {
    width: 120px;
  }

  nav.main-menu-content > ul > li > a > span {
    display: none;
  }
}

.homemenu-thumb a:hover h6 {
  top: 50%;
  opacity: 1;
}

.homemenu-content a {
  color: #000000;
  font-weight: 600;
}

.homemenu-content a:hover {
  color: #0c6e6d;
}

.main-menu-mobile * ul,
.main-menu-mobile * li {
  transition: none !important;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  /* nav.main-menu-content > ul > li > a {
    padding: 18px 12px 28px;
  } */

  nav.main-menu-content > ul > li > a > span {
    top: 24px;
    right: -1px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* nav.main-menu-content > ul > li > a {
    padding: 18px 12px 28px;
  } */

  nav.main-menu-content > ul > li > a > span {
    top: 24px;
    right: -1px;
  }
}

/* Header Style Two */

.header-area.header-classic {
  padding: 14px 0;
}

.header-area.header-classic.is-sticky {
  background: #4C1C4D;
  padding: 8px;
}

.header-area.header-classic .header-logo {
  margin: 0;
  max-width: 200px;
}

.header-area.header-classic nav.main-menu-content > ul > li > a {
  color: #ffffff;
  padding: 38px 28px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area.header-classic nav.main-menu-content > ul > li > a {
    padding: 38px 18px;
  }
}

.header-area.header-classic nav.main-menu-content > ul > li > a > span {
  top: 43px;
}

.header-area.header-classic .main-menu-mobile ul li > a {
  color: #ffffff !important;
}

.header-area.header-classic .header-btn {
  margin: 0;
}

/* Header Style Two */
.header-area.style-two {
  background: transparent;
  position: relative;
  z-index: 50;
  width: 100%;
}

.header-area.style-two .header-logo {
  margin: 0;
}

.header-area.style-two nav.main-menu-content > ul > li > a {
  color: #ffffff;
  padding: 28px;
}

.header-area.style-two nav.main-menu-content > ul > li > a > span {
  top: 34px;
}

.header-area.style-two .main-menu-mobile ul li > a {
  color: #ffffff !important;
}

/* Header Style Three */
.header-area.style-three {
  background: transparent;
  position: relative;
  z-index: 50;
  width: 100%;
}

.header-area.style-three.is-sticky {
  background: #ffffff75;
}

.header-area.style-three .header-logo {
  margin: 0;
}

@media screen and (max-width: 991px) {
  .header-area.style-three .header-logo {
    margin: 16px 0;
  }
}

.header-area.style-three nav.main-menu-content > ul {
  display: flex;
  justify-content: end;
  margin-right: 38px;
}

.header-area.style-three nav.main-menu-content > ul > li > a {
  padding: 38px 28px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area.style-three nav.main-menu-content > ul > li > a {
    padding: 38px 18px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .header-area.style-three nav.main-menu-content > ul {
    margin-right: 10px;
  }
}

.header-area.style-three nav.main-menu-content > ul > li > a > span {
  top: 44px;
}

.header-area.style-three .main-menu-mobile ul li > a {
  color: #ffffff !important;
}

.header-area.style-three .menu-sidebar {
  top: 0;
}

.header-area.style-three .menu-sidebar span {
  background: #0c6e6d;
}

.header-area.style-three .menu-bar span {
  background: #000;
}

/* Header Style Six */

.header-area.style-two.style-six nav.main-menu-content > ul > li > a {
  color: #053131;
}

.header-area.style-two.style-six .menu-sidebar span {
  background: #053131;
}

/* Header Style Eight */

.header-area.style-two.style-eight {
  background: #0a1630;
  border-radius: 10px 10px 0 0;
}

.header-area.style-two.style-eight nav.main-menu-content > ul > li > a {
  color: #ffffff;
  padding: 38px 29px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area.style-two.style-eight nav.main-menu-content > ul > li > a {
    padding: 38px 22px;
  }
}

.header-area.style-two.style-eight nav.main-menu-content > ul > li > a > span {
  top: 44px;
}

.header-area.style-two.style-eight .menu-sidebar {
  background: initial;
  transform: rotate(-180deg);
  position: relative;
  top: 0;
  background: #4d43f9;
  padding: 9px 6px;
  border-radius: 50px;
}

.header-area.style-two.style-eight .menu-sidebar span {
  background: #fff;
}

/* Header Style Nine */

.header-area.style-two.style-eight.style-nine {
  background: #fff;
  border-radius: 0;
}

.header-area.style-two.style-eight.style-nine
  nav.main-menu-content
  > ul
  > li
  > a {
  color: #0a1630;
  padding: 38px 29px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area.style-two.style-eight.style-nine
    nav.main-menu-content
    > ul
    > li
    > a {
    padding: 38px 22px;
  }
}

.header-area.style-two.style-eight.style-nine
  nav.main-menu-content
  > ul
  > li
  > a
  > span {
  top: 44px;
}

.header-area.style-two.style-eight.style-nine .menu-sidebar {
  background: initial;
  transform: rotate(-180deg);
  position: relative;
  top: 0;
  background: #4d43f9;
  padding: 9px 6px;
  border-radius: 50px;
}

.header-area.style-two.style-eight.style-nine .menu-sidebar span {
  background: #fff;
}

/* Header Style Nine */

.header-area.style-two.style-eight.style-eleven {
  background: #f4f8f9;
  border-radius: 0;
}

.header-area.style-two.style-eight.style-eleven
  nav.main-menu-content
  > ul
  > li
  > a {
  color: #0a1630;
  padding: 38px 29px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area.style-two.style-eight.style-eleven
    nav.main-menu-content
    > ul
    > li
    > a {
    padding: 38px 18px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .header-area.style-two.style-eight.style-eleven
    nav.main-menu-content
    > ul
    > li
    > a {
    color: #0a1630;
    padding: 38px 24px;
  }
}

.header-area.style-two.style-eight.style-eleven
  nav.main-menu-content
  > ul
  > li
  > a
  > span {
  top: 44px;
}

.header-area.style-two.style-eight.style-eleven .menu-sidebar {
  background: initial;
  transform: rotate(-180deg);
  position: relative;
  top: 0;
  background: transparent;
  padding: 9px 6px;
  border-radius: 50px;
}

.header-area.style-two.style-eight.style-eleven .menu-sidebar span {
  background: #0c6e6d !important;
}

.header-area.style-two.style-eight.style-eleven
  .menu-sidebar
  span:nth-child(1) {
  width: 22px;
}

.header-area.style-two.style-eight.style-eleven
  .menu-sidebar
  span:nth-child(2) {
  width: 16px;
}

.header-area.style-two.style-eight.style-eleven
  .menu-sidebar
  span:nth-child(3) {
  width: 10px;
}

.header-area.style-two.style-eight.style-eleven .menu-sidebar:hover span {
  width: 22px;
}

/* Header Sidebar */

/* Offcanvas */
.body-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: 0.45s ease-in-out;
}

.body-overlay2.apply {
  opacity: 1;
  visibility: visible;
}

.body-overlay2:hover {
  cursor: url(/public/images/cross.png), pointer;
}

.menu-sidebar {
  transform: rotate(-180deg);
  position: relative;
  top: 5px;
}

.menu-sidebar span {
  display: block;
  height: 2px;
  background: #ffffff;
  margin: 5px;
  transition: all 0.5s ease;
  border-radius: 30px;
}

.menu-sidebar:hover span:nth-child(1),
.menu-sidebar:hover span:nth-child(2),
.menu-sidebar:hover span:nth-child(3) {
  width: 22px;
}

.menu-sidebar span:nth-child(3) {
  width: 20px;
}

.menu-sidebar span:nth-child(2) {
  width: 16px;
}

.menu-sidebar span:nth-child(1) {
  width: 22px;
}

.body-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition: 0.45s ease-in-out;
}

.body-overlay2.apply {
  opacity: 1;
  visibility: visible;
}

.body-overlay2:hover {
  cursor: url(/public/images/cross.png), pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  bottom: 0;
  box-shadow: 0 20px 50px 0 #06323266;
  background-color: #063232;
  z-index: 99;
  padding: 36px;
  scrollbar-width: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.45s ease-in-out;
  overflow-y: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar.opened {
  opacity: 1;
  visibility: visible;
  right: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-duration: 0.6s;
}

.sidebar_title p {
  font-size: 16px;
  color: #a3b7b7;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .sidebar_title p {
    font-size: 15px;
  }
}

.sidebar_service-title h5 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  font-family: var(--primary-font);
  margin-bottom: 20px;
  display: inline-block;
}

.service_list li {
  list-style: circle;
  color: #0c6e6d;
  margin-left: 20px;
}

.service_list li button {
  font-size: 18px;
  color: #a3b7b7;
  font-weight: 500;
  font-family: var(--primary-font);
  transition: all 0.5s;
  margin: 6px 0;
}

.service_list li button:hover {
  color: #ffffff;
}

.sidebar_contact-title h5 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  font-family: var(--primary-font);
  margin-bottom: 30px;
  display: inline-block;
  margin-top: 20px;
}

.sidebar_contact-info ul li {
  display: flex;
  align-items: center;
}

.sidebar_contact-info ul li a {
  color: #ffffff;
  font-family: var(--primary-font);
}

.sidebar_contact-info ul li svg {
  color: #0c6e6d;
}

.sidebar_input-title h4 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: var(--primary-font);
  margin-bottom: 30px;
  display: inline-block;
}

.sidebar_input {
  margin-bottom: 10px;
  position: relative;
}

.sidebar_input input {
  background: transparent;
  border: 1px solid #ffffff1a;
  height: 60px;
  width: 100%;
  padding-left: 20px;
  padding-right: 80px;
  color: #ffffff;
  outline: none;
}

.sidebar_input button {
  height: 60px;
  width: 60px;
  background-color: #0c6e6d;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.sidebar_input input::placeholder {
  color: #ffffff57;
}

.sidebar_contact-info {
  margin-bottom: 50px;
}

.sidebar_contact-info ul li {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 15px;
  list-style-type: none;
}

@media (max-width: 767px) {
  .sidebar_contact-info ul li {
    font-size: 14px;
  }
}

.sidebar_contact-info ul li:last-child {
  margin-bottom: 0;
}

.sidebar_contact-info ul li a {
  margin-left: 10px;
  transition: 0.3s;
}

.sidebar_contact-info ul li a:hover {
  color: #0c6e6d;
}

.sidebar_logo {
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar_logo {
    padding-top: 0;
  }
}

@media (max-width: 767px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar_logo {
    padding-top: 0;
  }
}

.sidebar_close-btn button {
  position: absolute;
  right: 30px;
  top: 30px;
  transition: 1s;
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-duration: 0.3s;
  height: 40px;
  width: 40px;
  line-height: 43px;
  background-color: #0c6e6d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.sidebar_close-btn button:hover svg {
  transform: rotate(360deg);
}

.sidebar_close-btn button svg {
  font-weight: 300;
  font-size: 20px;
  transition: 0.9s;
}

.sidebar-social-icon {
  display: flex;
  align-items: center;
  gap: 3;
  margin-top: 30px;
}

.sidebar-social-icon li a {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  background-color: rgba(251, 251, 253, 0.08);
  color: #ffffff;
  margin-right: 15px;
  transition: 0.3s;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-social-icon li a::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #0c6e6d;
  transition: 0.5s;
  transform: scale(0);
  z-index: -1;
}

@media (max-width: 767px) {
  .sidebar-social-icon li a {
    height: 40px;
    width: 40px;
    font-size: 15px;
  }
}

.sidebar-social-icon li a:hover::before {
  transform: scale(1);
}


/* Search */


/* Search CSS */
.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  margin-top: -540px;
  transform: translateY(-100%);
  background: rgba(0, 0, 0, 0.2);
  transition: all 1500ms cubic-bezier(0.86, 0, 0.07, 1);
  backdrop-filter: blur(5px);
}

.search-active .search-popup {
  transform: translateY(0);
  margin-top: 0;
}

.close-search {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #f00;
}

.close-search2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  margin: 0 auto;
  margin-top: -200px;
  border-radius: 50%;
  background: linear-gradient(to right, #007eff 6%, #002570 96%);
  width: 70px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border: 3px solid;
  border-top-color: #fff;
  border-left-color: #000;
  border-bottom-color: #fff;
  border-right-color: #000;
  opacity: 0;
  visibility: hidden;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease;
}

.search-active .close-search2 {
  visibility: visible;
  opacity: 1;
  top: 50%;
  transition-delay: 1500ms;
}

.close-search2 svg {
  font-size: 30px;
  color: #ffffff;
}

.search-popup form {
  position: absolute;
  max-width: 700px;
  top: 50%;
  left: 15px;
  right: 15px;
  margin: -35px auto 0;
  transform: scaleX(0);
  background-color: transparent;
  transition: all 300ms ease;
}

.search-active form {
  transform: scaleX(1);
  transition-delay: 1200ms;
}

.form-group {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.form-group input[type='search'] {
  display: block;
  font-size: 18px;
  line-height: 50px;
  color: #000000;
  height: 70px;
  width: 100%;
  padding: 10px 30px;
  background-color: #ffffff;
  font-family: 'Albert Sans';
  transition: all 500ms ease;
  border: 2px solid #007eff;
  border-radius: 5px;
  appearance: none;
}

.form-group input:focus {
  outline: none;
}

.form-group button {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  font-size: 24px;
  color: #002570;
  padding: 0;
  cursor: pointer;
  border: none;
  transition: all 500ms ease;
}

.form-group button:hover {
  color: #000000;
}

.form-group input::placeholder {
  color: #000000;
}