* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --primary-font: "Quicksand", sans-serif;
   --alt-font: "Cream", sans-serif;

   --color-primary: #642165;
   --color-secondary: #D4A850;

   --color-grey: #a9a9a9;
   --color-green: #94C773;
   --color-red: #cf1b1b;
   --color-blue-grey: #607d8b;


   --content-padding-x: 60px;
   --content-padding-y: 110px;

   --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
   --ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
}


*,
* button:focus {
   outline: 0;
   margin: 0;
}

html {
   scrollbar-width: thin;
   scrollbar-color: var(--color-primary);
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 16px;
   scroll-padding-top: 150px;
}

body {
   position: relative;
   font-family: var(--primary-font);
   text-decoration: none;
   color: #535353;
   font-weight: 400;
   line-height: 1.6;
   overflow-x: hidden;
   background-color: rgb(255, 255, 255);
}

main {
   position: relative;
   width: 100%;
   min-height: 100vh;
}

ul {
   list-style: none;
   padding: 0;
}

a {
   text-decoration: none;
   display: inline-block;
   color: inherit;
}

img {
   width: 100%;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 25px;
   padding: 0;
   font-weight: 700;
   letter-spacing: -0.04em;
   font-family: var(--primary-font);
   color: #3d2d3d;
}

h1 {
   font-size: 4.375rem;
}

h2 {
   font-size: 3.438rem;
}

h3 {
   font-size: 2.375rem;
}

h4 {
   font-size: 1.75rem;
}

h5 {
   font-size: 1.35rem;
}

h6 {
   font-size: 1.15rem;
}

b,
strong {
   font-weight: 600;
}

p {
   font-size: 0.95rem;
   color: #585858;
}

.main-wrapper {
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
}

.line {
   position: relative;
   display: inline;
   display: inline-block;
   line-height: 1.2;
   vertical-align: top;
   /* overflow: hidden; */
   max-width: -moz-fit-content;
   max-width: -webkit-fit-content;
   max-width: fit-content;
}

.char {
   position: relative;
   display: inline-block;
   vertical-align: middle;
   will-change: transform, opacity;
   margin: 0;
   padding: 0;
   margin-left: -0.01em !important;
}

.char:first-child {
   margin-left: 0 !important;
}

.words .word {
   position: relative;
   display: inline-block;
   white-space: nowrap !important;
   will-change: transform, opacity;
}

.whitespace {
   line-height: 0 !important;
}


[data-text-reveal="chars"] .char {
   transition-property: transform, opacity;
   transition-duration: var(--duration);
   transition-timing-function: var(--ease-out-expo);
   transition-delay: 0s;
   transform: translate3d(40px, 0, 0);
   opacity: 0;
}

[data-text-reveal="words"] .word {
   transition-property: transform, opacity;
   transition-duration: var(--duration);
   transition-timing-function: var(--ease-out-expo);
   transition-delay: 0s;
   transform: translate3d(0, 100%, 0);
   opacity: 0;
}

[data-text-reveal="words"][data-revealed="true"] .word,
[data-text-reveal="chars"][data-revealed="true"] .char {
   transition-delay: calc(var(--delay) + var(--reveal-delay));
   transform: translate3d(0, 0, 0) !important;
   opacity: 1 !important;
}

[data-scroll-reveal] {
   will-change: transform, opacity;
}

section {
   width: 100%;
   position: relative;
   padding: var(--content-padding-y) var(--content-padding-x);
   overflow: hidden;
}

section.sec-gray {
   background-color: #F5F2EC;
}

section.sec-offwhite {
   background-color: rgb(250, 249, 246);
}

.container-fluid {
   max-width: 1920px;
}

.container {
   width: 100% !important;
   max-width: 1600px !important;
}

@media screen and (max-width: 1580px) {
   :root {
      --content-padding-x: 60px;
      --content-padding-y: 100px;
   }
}

@media screen and (max-width: 1200px) {
   :root {
      --content-padding-x: 15px;
      --content-padding-y: 90px;
   }
}

@media screen and (max-width: 992px) {
   :root {
      --content-padding-x: 8px;
      --content-padding-y: 70px;
   }
}



.parallax-container {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.parallax-wrapper {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   transform-style: preserve-3d;
   transform: translateZ(0);
   will-change: transform;
}

.parallax-wrapper * {
   position: relative;
   width: 100%;
   height: 100%;
}

.parallax-wrapper img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.parallax-wrapper video {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.fancybox__container {
   --fancybox-bg: rgba(24, 24, 27, 0.692) !important;
}

.swiper-pagination {
   display: flex;
   align-items: center;
   padding: 10px 20px;
   gap: 8px;
}

.swiper-pagination-bullet {
   position: relative;
   width: 12px;
   height: 12px;
   border-radius: 0;
   background-color: var(--color-primary);
   opacity: 1;
   margin: 0 !important;
   transition: background-color 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
   background-color: white;
}


.carousel-wrapper {
   --wrapper-padding-bottom: 60px;
}

.slider-nav-wrapper {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   padding-bottom: var(--wrapper-padding-bottom) !important;
   gap: 8px;
   z-index: 9;
   pointer-events: none !important;
}

.slider-nav-wrapper .slide-btn {
   position: relative;
   left: auto;
   top: auto;
   right: auto;
   bottom: auto;
   --default-border-color: rgba(255, 255, 255, 0.507);
   --hover-bg-color: var(--color-primary);
   --active-bg-color: var(--color-primary);
   --default-color: white;
   --hover-color: white;
   --active-color: white;
   width: 40px;
   height: 40px;
   line-height: 40px;
   pointer-events: all !important;
   margin: 0 !important;
   background-color: var(--color-primary);
   transition: all 0.3s ease-in-out;
}

.slider-nav-wrapper .slide-btn svg{
   display: none;
}

.slide-btn:hover {
   background-color: var(--hover-bg-color) !important;
}

.slide-btn:active {
   background-color: var(--active-bg-color) !important;
}

.slide-btn:active:after {
   color: var(--active-color) !important;
}

.slide-btn:after {
   position: absolute;
   content: "\f105";
   font-family: "Font Awesome 6 Pro";
   font-weight: 400;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   font-size: 1.35rem;
   line-height: 0;
   transform-origin: center;
   pointer-events: none;
   color: var(--default-color);
   transition: color 0.3s ease-in-out;
}

.slide-btn:hover:after {
   color: var(--hover-color);
}

.slide-btn.swiper-button-prev:after {
   transform: translate(-50%, -50%) rotate(-180deg);
}

.slide-btn.swiper-button-prev {
   left: 0;
}

@media screen and (max-width: 575px) {
   .slider-nav-wrapper .slide-btn {
      width: 35px;
      height: 35px;
      line-height: 35px;
   }

   .slide-btn:after {
      font-size: 1rem;
   }
}


/* Preloader  */
.page-loader-container {
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100dvh;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 9999;
   pointer-events: none;
   user-select: none;
}

.page-loader-panel {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   display: inline-block;
   background-color: #f5f5f5;
   transform: scaleY(1);
   transform-origin: top;
   will-change: transform;
}

.page-loader-overlay {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100dvh;
   background: rgba(0, 0, 0, 0.5);
   z-index: 9998;
   pointer-events: none;
   will-change: opacity;
   /* visibility: hidden; */
}

.loader-title {
   width: 100%;
   padding: 0 14px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: var(--theme-color-two);
   font-size: clamp(1.6rem, 3vw, 2.5rem);
   font-weight: 600;
   line-height: 1.2;
   max-width: 1000px;
   text-align: center;
   text-transform: uppercase;
   font-family: var(--alt-font);
   z-index: 999;
}

.loader-title span {
   position: relative;
   display: inline-block;
   opacity: 0;
   transform: translateZ(0);
   will-change: transform, opacity;
}

.loading-label {
   position: absolute;
   margin: 0;
   padding: 20px 25px;
   left: 0;
   bottom: 0;
   font-size: 1.1rem;
   font-weight: 500;
   color: #3a3a3a;
}

.loading-label span {
   display: inline-block;
   width: 4px;
   height: 4px;
   margin-left: 4px;
   border-radius: 50%;
   background-color: var(--color-primary);
   animation: pulseDot 1.2s infinite ease-in-out;
}

.loading-label span:nth-child(2) {
   animation-delay: 0.2s;
}

.loading-label span:nth-child(3) {
   animation-delay: 0.4s;
}

.loading-label span:nth-child(4) {
   animation-delay: 0.6s;
}

@keyframes pulseDot {

   0%,
   80%,
   100% {
      transform: scale(0.6);
      opacity: 0.3;
   }

   40% {
      transform: scale(1.2);
      opacity: 1;
   }
}

.loader {
   position: relative;
   width: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   overflow: hidden;
   transform: translateZ(0);
   opacity: 1;
   will-change: transform, opacity;
   z-index: 9;
}

.loader img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: center;
}


@media screen and (max-width: 992px) {
   .loading-label {
      padding: 20px 25px;
      font-size: 1rem;
   }

   .loading-label span {
      width: 3px;
      height: 3px;
      margin-left: 3px;
   }
}

@media screen and (max-width: 575px) {
   .loader {
      width: 60px;
   }
}